<div class="flex h-screen">
  <!-- Sidebar -->
  <div class="w-64 bg-white shadow-md">
    <div class="p-4 flex items-center">
      <img alt="Bus icon" class="mr-2" height="40" src="../../../assets/admin/image/logoadmin.jpg" width="40" />
      <span class="text-xl font-bold">My Bus</span>
    </div>
    <div class="p-4">
      <div class="bg-purple-500 text-white p-2 rounded flex items-center">
        <a href="/admin/dashboard" class="bg-purple-500 text-white p-2 rounded flex items-center">
          <i class="fas fa-home mr-2"></i>
          <span>Home</span>
        </a>

      </div>
    </div>
    <div class="p-4 text-gray-600">
      <div class="mb-4">
        <span class="font-bold">Menu</span>
      </div>

      <!-- Menu Người Dùng -->
      <div class="mb-2">
        <button class="flex items-center w-full justify-between text-left focus:outline-none"
          (click)="toggleMenu('userMenu')">
          <div class="flex items-center">
            <i class="fas fa-users mr-2"></i>
            <span>
              Users</span>
          </div>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div id="userMenu" class="hidden ml-6 mt-2 space-y-2">
          <a href="admin/listuser" class="block text-sm text-gray-600 hover:text-purple-500"> List User</a>
          <a href="admin/adduser" class="block text-sm text-gray-600 hover:text-purple-500">Add user</a>
        </div>
      </div>

      <!-- <div class="mb-2">
          <button class="flex items-center w-full justify-between text-left focus:outline-none"
            (click)="toggleMenu('staffMenu')">
            <div class="flex items-center">
              <i class="fas fa-users mr-2"></i> 

              <span>
              Staff Management</span>
            </div>
            <i class="fas fa-chevron-down"></i>
          </button>
          <div id="staffMenu" class="hidden ml-6 mt-2 space-y-2">
            <a href="admin/liststaff" class="block text-sm text-gray-600 hover:text-purple-500">
              List staff</a>
            <a href="admin/addstaff" class="block text-sm text-gray-600 hover:text-purple-500">
              Add staff</a>
          </div>
        </div> -->

      <!-- Menu Quản lý Tuyến xe -->
      <div class="mb-2">
        <button class="flex items-center w-full justify-between text-left focus:outline-none"
          (click)="toggleMenu('routeMenu')">
          <div class="flex items-center">
            <i class="fas fa-map-marked-alt mr-2"></i>
            <span>
              Routes</span>
          </div>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div id="routeMenu" class="hidden ml-6 mt-2 space-y-2">
          <a href="admin/route" class="block text-sm text-gray-600 hover:text-purple-500">
            List of bus routes</a>
          <a href="admin/addroute" class="block text-sm text-gray-600 hover:text-purple-500">
            Add bus routes</a>
        </div>
      </div>

      <!-- Menu Quản lý Chuyến xe -->
      <div class="mb-2">
        <button class="flex items-center w-full justify-between text-left focus:outline-none"
          (click)="toggleMenu('tripMenu')">
          <div class="flex items-center">
            <i class="fas fa-calendar-alt mr-2"></i>
            <span>
              Schedules </span>
          </div>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div id="tripMenu" class="hidden ml-6 mt-2 space-y-2">
          <a href="admin/schedules" class="block text-sm text-gray-600 hover:text-purple-500">
            List of Schedules</a>
          <a href="admin/addschedules" class="block text-sm text-gray-600 hover:text-purple-500">Add a Schedules</a>
        </div>
      </div>

      <!-- Menu Quản lý Xe -->
      <div class="mb-2">
        <button class="flex items-center w-full justify-between text-left focus:outline-none"
          (click)="toggleMenu('vehicleMenu')">
          <div class="flex items-center">
            <i class="fas fa-bus mr-2"></i>
            <span>
              Buses</span>
          </div>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div id="vehicleMenu" class="hidden ml-6 mt-2 space-y-2">
          <a href="admin/listbus" class="block text-sm text-gray-600 hover:text-purple-500">
            List Bus</a>
          <a href="admin/addbus" class="block text-sm text-gray-600 hover:text-purple-500">
            Add Bus</a>
        </div>
      </div>

      <!-- Menu Hóa đơn -->
      <div class="mb-2">
        <button class="flex items-center w-full justify-between text-left focus:outline-none"
          (click)="toggleMenu('invoiceMenu')">
          <div class="flex items-center">
            <i class="fas fa-file-invoice mr-2"></i>
            <span>Bookings</span>
          </div>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div id="invoiceMenu" class="hidden ml-6 mt-2 space-y-2">
          <a href="admin/listbooking" class="block text-sm text-gray-600 hover:text-purple-500">List Booking</a>
          <a href="admin/addbooking" class="block text-sm text-gray-600 hover:text-purple-500">Add Booking</a>
        </div>
      </div>
      <!-- hoàn tiền -->
      <div class="mb-2">
        <button class="flex items-center w-full justify-between text-left focus:outline-none"
          (click)="toggleMenu('cancelMenu')">
          <div class="flex items-center">
            <i class="fas fa-file-invoice mr-2"></i>
            <span>RefundAmount</span>
          </div>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div id="cancelMenu" class="hidden ml-6 mt-2 space-y-2">
          <a href="admin/cancel" class="block text-sm text-gray-600 hover:text-purple-500">List Cancel</a>
         
        </div>
      </div>


      <!-- Menu Thống Kê -->
      <div class="mb-2 flex items-center">
        <i class="fas fa-chart-line mr-2"></i>
        <span>
          <a href="admin/statistical" class="text-gray-600 hover:text-purple-500 no-underline">
            Statistical
          </a>
        </span>
      </div>


    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-1 p-6 bg-gradient-to-r from-gray-100 to-white">

    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold">Bus management system</h1>

      <!-- Phần hiển thị avatar và tên Admin -->
      <div class="relative inline-block text-left">
        <div class="flex items-center cursor-pointer" id="adminButton" (click)="toggleDropdown()">
          <img alt="Admin avatar" class="rounded-full mr-2" height="40"
            src="../../../assets/admin/image/avataradmin.jpg" width="40" />
          <span>Admin</span>
        </div>

        <!-- Dropdown menu -->
        <div id="dropdownMenu" class="hidden absolute right-0 mt-2 w-40 bg-white border rounded-lg shadow-lg">

          <a href="/loginadmin" class="block px-4 py-2 text-red-600 hover:bg-red-100">Log Out</a>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>