.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  color: #d9534f;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.info-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-box {
  flex: 1;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.info-box i {
  font-size: 25px;
}
.info-box span{
  margin-left: 10px;
  font-weight: 600;
}
.info-box strong{
  margin-left: 15px;
}

.info-box h3 {
  color: #d9534f;
  margin-bottom: 10px;
  font-size: 1.2em;
  border-bottom: 2px solid #d9534f;
  padding-bottom: 5px;
  font-weight: bold;
}

.info-box p {
  margin: 5px 0;
}

.info-box strong {
  color: #333;
}

.total-amount {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
}

.currency {
  font-size: 1.5em;
  font-weight: bold;
  color: #d9534f;
}

.payment-method {
  text-align: center;
  margin: 20px 0;
  font-size: 1.1em;
}

.payment-method label {
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.button-group {
  text-align: center;
}

.payment-button {
  background: #d9534f;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.payment-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.payment-button:hover:not(:disabled) {
  background: #c9302c;
}
