<div *ngIf="error" class="error-message">
  <p>{{ error }}</p>
</div>

<div *ngIf="!error" class="container" style="margin-top: 5%;">
  <h3 class="title">Confirmation</h3>


  <div class="info-container">
    <div class="info-box trip-info">
      <h3>Trip Information</h3>
      <p><i class="fa-solid fa-bus-simple"></i> <span>{{ bookingData.busNumber }}</span> - <span>{{ bookingData.busType }}</span></p>
      <p><i class="fa-solid fa-genderless"></i> <span>{{ bookingData.startingPlace }}</span> - <span>{{ bookingData.departTime | date: 'short' }}</span></p>
      <p><i class="fa-solid fa-ellipsis-vertical" style="margin-left: 5px;"></i> <strong>{{ bookingData.distance }} km</strong></p>
      <p><i class="fa-solid fa-location-dot"></i> <span>{{ bookingData.destinationPlace }}</span> - <span>{{ bookingData.arrivalTime | date: 'short' }}</span></p>
    </div>

    <div class="info-box customer-info">
      <h3>Customer Information</h3>

      <p><strong>Name:</strong> <span>{{ bookingData.name }}</span></p>
      <p><strong>Age:</strong> <span>{{ bookingData.age }}</span></p>
      <p><strong>Email:</strong> <span>{{ bookingData.email }}</span></p>
      <p><strong>Phone Number:</strong> <span>{{ bookingData.phone }}</span></p>
      <p><strong>Seat Number:</strong> <span>{{ bookingData.seatNumber }}</span></p>
    </div>
  </div>

  <div class="total-amount">
    <h3 >Total Amount:</h3>
    <p class="currency">{{ bookingData.totalAmount | currency :'VND' }}</p>
  </div>

  <!-- <div class="payment-method">
    <label>
      <input type="radio" name="paymentMethod" value="transfer" [(ngModel)]="selectedPaymentMethod" />
      Vnpay Payment
    </label>
  </div> -->

  <div class="button-group">
    <button class="payment-button" (click)="handlePayment()">
      Payment
    </button>

    <button class="cancel-button" (click)="goHome()">
      Cancel
    </button>
  </div>
</div>
