<div class="login-container">
  <h2>Đăng Nhập</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="input-group">
      <label for="username">Tên người dùng</label>
      <input type="text" id="username" formControlName="username">
    </div>

    <div class="input-group">
      <label for="password">Mật khẩu</label>
      <input type="password" id="password" formControlName="password">
    </div>

    <button type="submit">Đăng nhập</button>

    <!-- Hiển thị thông báo lỗi -->
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>



    <!-- Thêm nút chuyển đến trang đăng ký -->
    <p>Bạn chưa có tài khoản? <a routerLink="/user/register">Đăng ký ngay</a></p>
  </form>
</div>
