<!-- Form tìm kiếm -->
<div class="search-container">
  <input type="text" placeholder="Starting" [(ngModel)]="searchFrom" />
  <input type="text" placeholder="Destination" [(ngModel)]="searchTo" />
  <button (click)="searchTrips()">Tìm kiếm</button>
</div>

<!-- Danh sách chuyến đi -->
<div *ngIf="filteredTrips.length > 0; else noTrips">
  <div class="trip-list-container">
    <div class="trip-header">
      <span>Bus Number</span>
      <span>Bus Type</span>
      <span>Departure Time & Starting Place</span>
      <span>Arrival Time & Destination Place</span>
      <span>Total Seat</span>
      <span>Available Seat</span>
      <span>Price</span>
      <span></span>
    </div>

    <div *ngFor="let trip of filteredTrips" class="trip-card">
      <div class="trip-info">
        <p>{{ trip.busNumber }}</p>
        <p>{{ trip.busType }}</p>
        <p><strong>{{ trip.departureTime | date: 'HH:mm' }}</strong> - <span style="color: rgb(170, 0, 0);font-weight:bold">{{ trip.startingPlace }}</span></p>
        <p><strong>{{ trip.arrivalTime | date: 'HH:mm' }}</strong> - <span style="color: rgb(171, 0, 0);font-weight:bold">{{ trip.destinationPlace }}</span></p>
        <p>{{ trip.totalSeats }}</p>
        <p>{{ trip.availableSeats }}</p>
        <p>{{ trip.price ? (trip.price | currency :'VND') : '---' }}</p>
        <button class="btn-book" (click)="viewTripDetail(trip.id)">Select</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noTrips>
  <p>{{ errorMessage }}</p>
</ng-template>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
