/* Container tổng */
.trip-list-container {
  width: 90%;
  margin: 0 auto;
  padding: 40px;
}

/* Form tìm kiếm */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5%;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ô input */
.search-container input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.search-container input:focus {
  border-color: #ec4c4c;
}

/* Nút tìm kiếm */
.search-container button {
  padding: 10px 15px;
  background-color: #ffffff;
  color: rgb(169, 0, 0);
  border: 1.5px solid rgb(165, 0, 0);
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.search-container button:hover {
  background-color: #b00000;
  color: white;
}

/* Header danh sách chuyến đi */
.trip-header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
}

/* Mỗi thẻ chuyến đi */
.trip-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.trip-card:hover {
  transform: scale(1.02);
}

/* Thông tin chuyến đi */
.trip-info {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #eee;
}
.trip-info p {
  font-weight: 500;
}

/* Nút đặt vé */
.btn-book {
  background-color: #ffffff;
  color: rgb(160, 0, 0);
  border: 1.5px solid rgb(142, 0, 0);
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-weight: 500;
}

.btn-book:hover {
  background-color: #a30000;
  color: white;
}
