.card {
  width: 50%;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;

}

.user-greeting {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;

}

.user-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.greeting-text {
  font-size: 20px;
  font-weight: bold;

}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%;
  text-align: left;
}

.input-field, .info-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  background: #f9f9f9;
  display: block;
}

.info-box {
  padding: 15px;
  background: #f1f1f1;
}

.save-btn {
  background: #c82333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

.cancel-btn {
  background: #c82333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
  transition: background 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

.save-btn:hover {
  background: rgb(206, 22, 22);
  transform: scale(1.05); /* Tăng kích thước nút một chút khi hover */
}

.cancel-btn:hover {
  background: rgb(206, 22, 22);
  transform: scale(1.05); /* Tăng kích thước nút một chút khi hover */
}

.save-btn:active, .cancel-btn:active {
  transform: scale(1); /* Trả về kích thước ban đầu khi nhấn */
}
