.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255); /* Làm mờ nền */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal.active {
  display: flex;
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 900px;
  height: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
}

/* Phần hình ảnh */
.login-img {
  flex: 1;
  min-width: 300px;
  background: url('https://banner2.cleanpng.com/20190306/zcp/kisspng-image-bus-car-vehicle-design-5c7fa771d51210.8640302215518698098727.jpg')
    center/cover no-repeat;
  height: 100%;
}

/* Phần form đăng ký */
.login-form {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Nhóm input */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.input-group label{
  text-align:left ;
  font-weight: bold;
  
}

.input-group input:focus {
  border-color: #c82333;
  outline: none;
}

/* Nút đăng ký */
.btn-login {
  width: 100%;
  padding: 12px;
  background: #c82333;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.btn-login:hover {
  background: #ad0011;
}

/* Căn giữa modal theo chiều dọc */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .login-img {
    height: 180px;
  }

  .login-form {
    padding: 20px;
  }
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
