<div class="container">
  <!-- Bộ lọc & Sắp xếp bên trái -->
  <div class="filter-sort-container">
    <div class="filter-section">
      <h3>Filter</h3>
      <p>Type:</p>
      <div class="filter-options">
        <label>
          <input type="radio" name="busType" value="" [(ngModel)]="selectedBusType" (change)="applyFilters()">
          Tất cả
        </label>
        <label *ngFor="let type of busTypes">
          <input type="radio" name="busType" [value]="type.typeName" [(ngModel)]="selectedBusType" (change)="applyFilters()">
          {{ type.typeName }}
        </label>
      </div>
    </div>

    <div class="sort-section">
      <h3>Arrange</h3>
      <p>Sort By:</p>
      <div class="sort-options">
        <label>
          <input type="radio" name="sort" value="default" [(ngModel)]="sortCriteria" (change)="sortTrips()">
          Default
        </label>
        <label>
          <input type="radio" name="sort" value="timeAsc" [(ngModel)]="sortCriteria" (change)="sortTrips()">
          Earliest departure
        </label>
        <label>
          <input type="radio" name="sort" value="timeDesc" [(ngModel)]="sortCriteria" (change)="sortTrips()">
           Latest departure
        </label>
        <label>
          <input type="radio" name="sort" value="priceAsc" [(ngModel)]="sortCriteria" (change)="sortTrips()">
          Price increase
        </label>
        <label>
          <input type="radio" name="sort" value="priceDesc" [(ngModel)]="sortCriteria" (change)="sortTrips()">
          Price decrease
        </label>
      </div>
    </div>
  </div>

  <!-- Danh sách chuyến đi bên phải -->
  <div class="trip-list-container">
    <div class="trip-count">
      <p>{{ filteredTrips.length }} Trip Found</p>
    </div>

    <div *ngFor="let trip of filteredTrips" class="trip-card">
      <div class="trip-image">
        <img [src]="trip.imageBus || 'assets/default-bus.jpg'" alt="Bus Image" class="bus-image">
      </div>

      <div class="trip-info">
        <p class="trip-title">{{ trip.busNumber }} ({{ trip.busType }})</p>
        <div class="trip-meta">
          <p><strong>🕒 {{ trip.departureTime | date:'shortTime' }}</strong> {{ trip.startingPlace }}</p>
          <p><strong>⏳ {{ trip.duration }}</strong></p>
          <p><strong>📍 {{ trip.arrivalTime | date:'shortTime' }}</strong> {{ trip.destinationPlace }}</p>
        </div>
        <br>
        <div>
          <p class="trip-totalseat"> Total Seats:{{ trip.totalSeats }}  </p>
          <p class="trip-seats">Available: {{ trip.availableSeats }} </p>
        </div>
      </div>

      <div class="trip-actions">
        <p class="trip-price">{{ trip.price | currency }}</p>
        <p class="trip-discount" *ngIf="trip.oldPrice">
          {{ trip.oldPrice | currency }} <span class="discount-label">-{{ trip.discountPercent }}%</span>
        </p>
        <button class="btn-book" (click)="viewTripDetail(trip.id)">Select</button>
      </div>
    </div>
  </div>
</div>
