<div class="max-w-3xl mx-auto p-4">
    <div class="bg-white p-6 rounded-lg shadow-md">
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-3xl font-bold text-gray-800">Edit Cancellation</h1>
        </div>

        <div *ngIf="errorMessage" class="text-red-600 mb-4">
            {{ errorMessage }}
        </div>

        <form (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div>
                    <label class="block text-gray-600 mb-1">Booking ID</label>
                    <input type="number" name="bookingIdDisplay" [(ngModel)]="cancellation.bookingId"
                        class="w-full p-2 border border-gray-300 rounded focus:ring-2 focus:ring-blue-400" readonly>

                    <input type="hidden" name="bookingId" [(ngModel)]="cancellation.bookingId">
                </div>



                <!-- Cancellation Date -->
                <div>
                    <label class="block text-gray-600 mb-1">Cancellation Date</label>
                    <input type="datetime-local" name="cancellationDate" [(ngModel)]="cancellation.cancellationDate"
                        class="w-full p-2 border border-gray-300 rounded focus:ring-2 focus:ring-blue-400">
                </div>

                <!-- Refund Amount -->
                <div>
                    <label class="block text-gray-600 mb-1">Refund Amount</label>
                    <input type="number" name="refundAmount" [(ngModel)]="cancellation.refundAmount"
                        placeholder="Enter refund amount"
                        class="w-full p-2 border border-gray-300 rounded focus:ring-2 focus:ring-blue-400">
                </div>

            </div>

            <div class="flex justify-end mt-6 space-x-2">
                <button type="button" (click)="onCancel()"
                    class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded">Cancel</button>
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                    {{ cancellation.id ? 'Update Cancellation' : 'Save' }}
                </button>
            </div>
        </form>
    </div>
</div>