<div class="p-6">
  <h1 class="text-2xl font-semibold text-gray-700 mb-6 text-center">Welcome to Administrator</h1>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 mb-6">
    <!-- Customer Section -->
    <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
      <div class="text-3xl font-bold text-gray-700 mb-2">{{ totalUsers }}</div>
      <div class="text-gray-500 flex items-center">
        <i class="fas fa-user-plus mr-2"></i>
        <span>Users</span>
      </div>
    </div>

    <!-- Bus Schedule Section -->
    <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
      <div class="text-3xl font-bold text-gray-700 mb-2">{{ totalSchedules }}</div>
      <div class="text-gray-500 flex items-center">
        <i class="fas fa-bus mr-2"></i>
        <span>
          Route Number</span>
      </div>
    </div>

    <!-- Revenue Section -->
    <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
      <div class="text-3xl font-bold text-gray-700 mb-2">{{ totalBuses }}</div>
      <div class="text-gray-500 flex items-center">
        <i class="fas fa-file-invoice-dollar mr-2"></i>
        <span>Total number of Bus</span>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="text-gray-500 text-center mt-6">My Bus Bus System</div>
</div>
