<div class="p-4">
    <h1 class="text-2xl font-semibold text-gray-700 mb-6 text-center">Welcome to Administrator</h1>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-6">
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
        <div class="text-3xl font-bold text-gray-700 mb-2">11</div>
        <div class="text-gray-500 flex items-center">
          <i class="fas fa-user-plus mr-2"></i>
          <span>Khách hàng</span>
        </div>
      </div>
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
        <div class="text-3xl font-bold text-gray-700 mb-2">84</div>
        <div class="text-gray-500 flex items-center">
          <i class="fas fa-bus mr-2"></i>
          <span>Số chuyến Xe</span>
        </div>
      </div>
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
        <div class="text-3xl font-bold text-gray-700 mb-2">150.000 VNĐ</div>
        <div class="text-gray-500 flex items-center">
          <i class="fas fa-file-invoice-dollar mr-2"></i>
          <span>Tổng doanh thu trong tháng</span>
        </div>
      </div>
    </div>
    <div class="text-gray-500 text-center">Hệ Thống Xe Khách My Bus</div>
  </div>    