<section class="bg-cover bg-center w-full h-[80vh] text-center flex items-center justify-center mt-16"
         style="background-image: url('https://s3.rdbuz.com/web/images/vnm/vnmBannerNew.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; margin: 0; padding: 0;">
    <div class="bg-white bg-opacity-75 p-8 rounded-lg max-w-3xl">
      <h1 class="text-4xl font-bold text-gray-800 mb-2">
        Welcome to <span class="text-blue-600">My Bus</span>
      </h1>
      <p class="text-gray-700 mb-4">
        Đi để khám phá bản thân, đi để tìm thấy câu trả lời hạnh phúc thật sự
      </p>
      <div class="space-x-4">
        <button class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Khám Phá</button>
        <button class="px-4 py-2 bg-gray-200 text-gray-800 rounded-lg hover:bg-gray-300">Watch Video</button>
      </div>
    </div>
</section>



<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">

  <!-- Nơi đi -->
  <div class="form-group full-height">

    <div class="input-group">
      <span class="input-group-text">
        <i class="fa-solid fa-right-to-bracket"></i>
      </span>
      <input id="startingPlace" formControlName="startingPlace" class="form-control" placeholder="Starting">
    </div>
  </div>

  <!-- Nơi đến -->
  <div class="form-group full-height">

    <div class="input-group">
      <span class="input-group-text">
        <i class="fa-solid fa-right-from-bracket"></i>
      </span>
      <input id="destinationPlace" formControlName="destinationPlace" class="form-control" placeholder="Destination">
    </div>
  </div>

  <div class="form-group full-height">
    <div class="input-group">
      <span class="input-group-text">
        <i class="fa-solid fa-calendar-days"></i>
      </span>
      <input id="departureDateTime"
             formControlName="departureDateTime"
             type="date"
             class="form-control"
             [min]="minDate">
    </div>
  </div>



  <!-- Nút tìm kiếm -->
  <button type="submit" class="btn search-btn full-height" [disabled]="searchForm.invalid">
    <i class="fa-solid fa-magnifying-glass"></i>
    Search
  </button>
</form>


<div class="header">
  <h1 >MY BUS - QUALITY IS HONOR</h1>
  <p>Trusted and chosen by customers</p>
</div>

<!-- Features cũ -->
<div class="section features">
  <div class="feature">
    <h3>CONVENIENT</h3>
    <p>Buy bus tickets anytime, anywhere without spending a lot of time going to the bus station or agency office. Helps you buy tickets comfortably.</p>
  </div>
  <div class="feature">
    <h3>24/7 Support</h3>
    <p>Always there when you need it.</p>
  </div>
  <div class="feature">
    <h3>Thông tin đầy đủ</h3>
    <p>Trip details.</p>
  </div>
  <div class="feature">
    <h3>Easy Payment</h3>
    <p>Simple and convenient.</p>
  </div>
</div>

<div class="section">
  <h2 class="text-2xl font-bold mb-6">COMMON ROUTES</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

  <div class="bg-white rounded shadow p-4">
  <img
  src="https://media.vneconomy.vn/w900/images/upload/2021/04/19/vinbus-10-16178592995771634838613.jpg"
  alt="Ho Chi Minh City"
  class="w-full h-40 object-cover rounded mb-4"
  />
  <h3 class="text-sm text-gray-500">Route from</h3>
  <p class="text-xl font-semibold mb-4">Tp. Ho Chi Minh</p>
  <ul class="space-y-3 text-sm">

  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">Da Lat</div>

  </div>
  <div class="font-semibold text-gray-800">290</div>
  </li>
  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">Can Tho</div>

  </div>
  <div class="font-semibold text-gray-800">200</div>
  </li>
  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">Long Xuyen</div>

  </div>
  <div class="font-semibold text-gray-800">210</div>
  </li>
  </ul>
  </div>


  <div class="bg-white rounded shadow p-4">
  <img
  src="https://laodongthudo.vn/stores/news_dataimages/khanhly/122016/18/08/4114_images1846872_2.jpg"
  alt="Da Lat"
  class="w-full h-40 object-cover rounded mb-4"
  />
  <h3 class="text-sm text-gray-500">Route from</h3>
  <p class="text-xl font-semibold mb-4">Da Lat</p>
  <ul class="space-y-3 text-sm">
  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">TP. Ho Chi Minh</div>

  </div>
  <div class="font-semibold text-gray-800">290</div>
  </li>
  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">Da Nang</div>

  </div>
  <div class="font-semibold text-gray-800">350</div>
  </li>
  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">Can Tho</div>

  </div>
  <div class="font-semibold text-gray-800">435</div>
  </li>
  </ul>
  </div>


  <div class="bg-white rounded shadow p-4">
  <img
  src="https://nld.mediacdn.vn/291774122806476800/2021/4/8/dsc6499-16178612360861251827594.jpg"
  alt="Da Nang"
  class="w-full h-40 object-cover rounded mb-4"
  />
  <h3 class="text-sm text-gray-500">Route from</h3>
  <p class="text-xl font-semibold mb-4">Da Nang</p>
  <ul class="space-y-3 text-sm">
  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">Da Lat</div>

  </div>
  <div class="font-semibold text-gray-800">410</div>
  </li>
  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">An Suong BX</div>

  </div>
  <div class="font-semibold text-gray-800">270</div>
  </li>
  <li class="flex justify-between items-center">
  <div>
  <div class="font-medium">Nha Trang</div>

  </div>
  <div class="font-semibold text-gray-800">320</div>
  </li>
  </ul>
  </div>
  </div>
  </div>
