<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">
  <div class="form-group">
    <label for="startingPlace">Nơi đi</label>
    <input id="startingPlace" formControlName="startingPlace" class="form-control" placeholder="Nhập nơi đi">
  </div>

  <div class="form-group">
    <label for="destinationPlace">Nơi đến</label>
    <input id="destinationPlace" formControlName="destinationPlace" class="form-control" placeholder="Nhập nơi đến">
  </div>

  <div class="form-group">
    <label for="departureDateTime">Ngày đi</label>
    <input id="departureDateTime" formControlName="departureDateTime" type="date" class="form-control">
  </div>

  <button type="submit" class="btn btn-danger" [disabled]="searchForm.invalid">
    Tìm kiếm xe khách
  </button>
</form>
